{% extends "base.html.twig" %}

{% block content %}
    <h2>Create A Character</h2>
    <p>Characters in Hauls of the Abyss can be one of many races and have one of many origins, each with their own upsides and downsides.</p>
    <p>For instance, humans are considered "average", while orcs are stronger but less agile, and goblins are more agile but can take fewer hits.</p>
    <p>Notice: You have {{  }}</p>

    {% if limit <= 0 %}
        <div class="warning">{{ 'newcharacter.limited'|trans }}</div>
    {% elseif limit < 6 %}
        <p>{{ 'newcharacter.limit'|trans({"count":limit, "%limit%":limit}) }}</p>
    {% endif %}
    {% if spawnlimit %}
        <div class="error">{{ 'newcharacter.spawnlimit'|trans|raw }}</div>
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock %}