{% extends 'base.html.twig' %}

{% block title %}Town Square{% endblock %}

{% block body %}
    <p>While the Abyss is where many seek there fortune, the town outside it is where they rest, recover, and prepare.</p>

    <div id="actionlist" class="boxlist">
        {% include "parts/linklist.html.twig" with {"list":{"elements":options}, "domain":'messages'} only %}
    </div>
{% endblock %}
