html{
    background: url("../images/canvas.jpg") repeat scroll 0 0 #db9;
    background-position: center top;
}

body {
}


/* Content Stuff */


.maincontent {
    width: 75%;
}

.leftmain {
    float:  left;
    clear:  left;
    width:  98%;
}

.index_maincontent {
    width: 50%;
}

.index_journal {
    width: 50%;
    float: right;
}

.subcontent_wrapper {
    width: 24%;
    float: right;
}

.subcontent {
    background:     rgba(255,250,242,0.4);
    box-shadow:     0 0 1em rgba(0, 0, 0, 0.75) inset;
    border:         1px solid #DC8E20; /* http://www.colourlovers.com/color/DC8E20/Dark_Gold_Spice */
    margin:         1em 0;
    padding:        1em 2em;
    border-radius:  1em;
    color:          #460702;
}
.index_login {
    background:     rgba(255,250,242,0.4);
    box-shadow:     0 0 1em rgba(0, 0, 0, 0.75) inset;
    border:         1px solid #DC8E20; /* http://www.colourlovers.com/color/DC8E20/Dark_Gold_Spice */
    margin:         1em 1em;
    padding:        1em 2em;
    border-radius:  1em;
    color:          #460702;
    width:          35%;
    position:       relative;
    left:           25%;
    align-content:  center;
    text-align:     center;
    line-height:    2;
}
.index_register {
    background:     rgba(255,250,242,0.4);
    box-shadow:     0 0 1em rgba(0, 0, 0, 0.75) inset;
    border:         1px solid #DC8E20; /* http://www.colourlovers.com/color/DC8E20/Dark_Gold_Spice */
    margin:         1em 1em;
    padding:        1em 2em;
    border-radius:  1em;
    color:          #460702;
    width:          45%;
    position:       relative;
    left:           20%;
    align-content:  center;
    text-align:     center;
    line-height:    2;
}
.inline_announcements ul {
    padding-left: 1em;
}

/* Footer Stuff */

#content {
    background:                 rgba(255,250,242,0.4);
    box-shadow:                 0 0 1em rgba(0, 0, 0, 0.75) inset;
    color:                      black;
    border:                     2px solid #000000; /* http://www.colourlovers.com/color/DC8E20/Dark_Gold_Spice */
    border-top-right-radius:    1em;
    border-bottom-right-radius: 1em;
    margin-top:                 180px;
    margin-bottom:              0;
    padding:                    2em 3em;
    word-wrap:                  break-word;
    margin-left:                -10px;
    min-height:                 350px;
}
#footer {
    background: rgba(255,250,242,0.6);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
    color: black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 3px solid black;
    border-radius: 1em;
    text-align: center;
}
#footer div {
    display: inline-block;
    margin: 0 2em;
}

/* Navigation Stuff */

#nav {
        font-size: 1.2em;
        height: 42px;
        background-color: black;
        text-align: center;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        position: absolute;
        top: 130px;
        left: 0;
        width: 100%;
}

#nav li {
        list-style: none;
}

#nav ul {
        margin: 0;
        padding: 0;
}

#nav>ul>li {
        display: inline-block;
        margin: 0 0;
        padding: 0;

}

#nav>ul>li>a {
        line-height: 2em;
        display: block;
        color: white;
        text-decoration: none;
}

#title {
    text-align: center;
    margin-bottom: -3em;
}
#title img {
    width: 100%;
    max-width: 1200px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

ul.navbar {
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 0.1em;
    right: 4%;
}

ul.navbar li {
    display: inline;
    border: 1px solid #DC8E20; /* http://www.colourlovers.com/color/DC8E20/Dark_Gold_Spice */
    padding: 1em 0.4em 0.1em 0.4em;
    text-align: center;
}

ul.navbar li a {
    color: white; /* "edelweiss white" - http://www.colourlovers.com/palette/951046/lucky_moon_and_stars */
}
ul.navbar li a:hover {
    color: white;
}
ul.navbar li a.new {
/*    background: url("../images/star16.png") no-repeat scroll right; */
    padding-right: 24px;
}


div.boxlist ul {
    margin: -2em 0 0 0;
    padding: 0;
}

div.boxlist li {
    display: block;
    background: rgba(255,255,255,0.25);
    float: left;
    width: 18em;
    height: 4.25em;
    margin: 2em 1em 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}
div.boxlist li:hover {
    background: rgba(150,150,150,0.5);
}


div.boxlist li a, div.boxlist li span.nolink {
    display: block;
    font-size: 120%;
}