{% extends 'base.html.twig' %}

{% block title %}The Abyss{% endblock %}

{% block body %}
    <p>The Abyss is a dangerous, unknowable place. Be careful.</p>

    <div id="actionlist" class="boxlist">
        {% include "parts/linklist.html.twig" with {"list":{"elements":options}, "domain":'messages'} only %}
    </div>
{% endblock %}
