{% extends "base.html.twig" %}

{% block content %}
	<h2>Report Journal Entry</h2>
	<p>If there's something wrong or offensive in regards to this Journal, please let us know so we can look at it, by leaving some details below and hitting submit. Thank you!</p>
	{{ form(form) }}
{% endblock %}
{% block jquery %}


{% endblock %}
