{% extends "base.html.twig" %}

{% block content %}
	<h2>New Journal Entry</h2>
	<p>Your journal is a place for you to write down your thoughts or record events from your view. It can also be used for other things, like as a repository of world information for your character's settings. Best of all, you can share these with others if you want, through the magic of the Lendan Stone network!</p>

	<p>Be advsised that all content shared publicly MUST be safe for viewing for a teenager (13 years of age or older). Light swearing, is fine, but if you want to record your fantasies, make it private and/or graphic. Misuse of or failure to properly mark your journal entries may see all future entries forced to be marked private through GM action.</p>
	{{ form(form) }}
{% endblock %}
