<div>&copy 2023 Iungard Systems, LLC</div>
<div>
        {# <a href="{{ path('core_terms') }}">{{ 'main.terms'|trans({}, "default") }}</a> | #}
        <a href="https://forum.lemuriacommunity.org">{{ 'main.forum'|trans({}, "default") }}</a> |
        <a href="https://discord.gg/xEbprxv">{{ 'main.discord'|trans({}, "default") }}</a>
</div>
