<h1>Hi! Please confirm your email!</h1>

<p>
    In order to confirm your email with your account at <a href="https://haulsoftheabyss.com"/>Hauls of the Abyss</a>, please click the link below:<br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Respectfully,
    Hauls of the Abyss Administration
</p>
